{extends 'layout.latte'}

{block title} Pridanie{/block}

{block body}
    <div class="container">
        <form action="{link newPerson} " method = "post">
            <label>Jmeno</label>
            <input type="text" name="fn" class="form-control">
            <label>Prijmeni</label>
            <input type="text" name="ln" class="form-control">
            <label>Nickname</label>
            <input type="text" name="nn" class="form-control">
            <label>Vyska</label>
            <input type="text" name="h" class="form-control">
            <button type="submit" class="btn btn-primary">
                Uloz
            </button>
        </form>
    </div>



{/block}
