{extends 'layout.latte'}

{block title} Vypis osob{/block}

{block body}
    <div class="container">

        <form action="{link persons} " method = "get">
            <input type="text" name="q" class="form-control">
            <button type="submit" class="btn btn-primary">
                Hledat
            </button>
        </form>

        <h1>{include title}</h1>
        <table class = "table table-striped">
            {foreach $people as $p}
                <tr>
                    <td>{$p['first_name']}</td>
                    <td>{$p['last_name']}</td>
                    <td>{$p['nickname']}</td>
                 </tr>
            {/foreach}
         </table>
    </div>



{/block}